<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicToCartoon</title>
</head>
<body>
    <form action = "/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file"/>
         <input type = "submit"/>
      </form>
      <quick-draw category="apple" key="AIzaSyC0U3yLy_m6u7aOMi9YJL2w1vWG4oI5mj0"></quick-draw>
</body>
</html>