<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicToCartoon</title>
</head>
<body>
    <form action = "/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file"/>
         <input type = "submit"/>
      </form>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- p5.js -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
    <!-- Local sketch.js -->
    <script type = "text/javascript" src="{{url_for('static', filename='JS/sketch.js')}}"></script>
    <script type="text/javascript">
        sketchData = '{{data|tojson}}'
        if (sketchData !== '[0]'){
            getStrokeData(sketchData);
        }
    </script>
</body>
</html>